@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10; /* Asegura que esté siempre por encima */
}

.back-text {
  background: none;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #c7bcf8;
  cursor: pointer;
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

.back-text:hover {
  transform: scale(1.1);
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}
